@charset "UTF-8";
body {
background-color: #5976A1;
}

header {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: #77c3df;
  font-size: 20px;
  color: white;
  margin-left: -33px;
  line-height: 1.3;
  z-index:-1;
  text-align: center
}

header:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index:-2
} 


h1 {
color: #000000;
background-color: #FFFFFF;
  padding: 1rem 2rem;
  border: 6px double #003366;
  text-align: center
}
p{
font-size: 20px;
}

.input_box{
  text-align: center;
  
}

.box {
color: #000000;
  text-align: center
}




footer {
  width: 100%;
  height: 100px;
  display: flex;
  width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  align-items: center;
}

.input123 {
  width: 500px; 
  height: 40px;
  font-size: 20px;
}

.input_box {
  text-align: center;
}


.button {
  text-align: center;
}

.output {
  background-color: #FFFFFF;
  }